// 1. OBJECT [ 1.1. VARIABLES ]  ######################################################################################

// A. BRAND COLOR VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. CI COLORS -----------------------------------------------------------------------------------------------------

$stj-blue:          #00365e;
$stj-purple:        #7a0441;
$stj-gold:          #d1ad53;
$stj-goldLight:     #ffe4b8;

$stj-green:         #45781c;
$stj-orange:        #f89406;
$stj-red:           #b11010;

$stj-gray:          #828282;
$stj-grayLight:     #EEEEEE;
$stj-grayLighter:   #E1E1E1;

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. ALERT COLORS --------------------------------------------------------------------------------------------------

$alert-normal:      $stj-green;
$alert-mid:         $stj-orange;  
$alert-high:        $stj-red;

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. TEXT COLORS ---------------------------------------------------------------------------------------------------

$heading:           $stj-gold;
$sub-heading:       $stj-gray;
$text:              $stj-gray;

// A.3. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. FONT VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$light:             300;
$regular:           400;
$bold:              700;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. SPACING VARIABLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$baseline-small:    $baseline/2;
$baseline-medium:   $baseline*2;
$baseline-large:    $baseline*4;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################