// 1. OBJECT [ 1.3. TYPOGRAPHY ]  #####################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@font-face {
    
  font-family: 'Friz';
  src: url('../fonts/FrizQuaBol'); 
    
}

html {

    background: $stj-grayLight;
    font-family: 'Friz', sans-serif;

}

// A.1. HEADINGS ------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {

    @include font($roboto, $bold, normal);
    color: $sub-heading
    
}

h1, h3 {

    color: $heading;
    text-transform: uppercase;
    margin: $baseline-medium 0;
}

h2 {
    
    color: $heading;
    @include font($roboto, $bold, normal);
    text-transform: uppercase;
    margin: $baseline-medium 0;
    
}

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. GENERAL TYPE --------------------------------------------------------------------------------------------------

a {
    
    color: $stj-gold;
    @include hover-off();

    &:hover {
        
        color: $stj-gold;
    
        @include hover-on();
        text-decoration: none;
    
    }

}

p {

    @include font($roboto, $regular, normal);
    color: $text;
    
}

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. TABLES --------------------------------------------------------------------------------------------------------

// A.3. END -----------------------------------------------------------------------------------------------------------

// A.4. SPECIAL TEXT --------------------------------------------------------------------------------------------------

// A.4. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################