// 1. OBJECT [ 1.4. TABLES ]  #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.section-5__beer-bottle {
    
    position: relative;
    background: url('../images/site/beer-bg.jpg');
    background-size: cover;
    z-index: 0;
    
    .figure__bottle {
        
        @include aspect-ratio (100%, 165%);
        margin: 0;
        
        .content {
            
            @include absolute (0);
            
            .bottle-neck-logo {
                
                width: 32px;
                margin: 0 auto;
                margin-top: 65px;
                
            }
            
            .bottle-lable-logo {
                
                width: 90px;
                margin: 0 auto;
                margin-top: 205px;
                margin-bottom: 5px;
                
            }
            
            .image__bottle {
                
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                z-index: -10;
                
            }
            
            .bottle-beer-name {
                
                font-size: 17px;
                color: $white;
                opacity: 0.7;
                
            }
            
            .bottle-beer-style {
                
                font-size: $x-small;
                color: $yellow;
                opacity: 0.7;
                line-height: $x-small;
            }
        }
        
        
        .figure__button {
            
            position: absolute;
            bottom: 60px;
            width: 100%;
            
            &.below {
                
                bottom: 0;   
                
            }
            
        }
    }
        
    .figure__yak-text {
        
        width: 100%;
        margin: 0 auto;
        
        .yak-text {
            
            width: 100%;
            height: auto;
            
        }
    }
    
    .yaksess {
        
        @include absolute(0);
        position: fixed;
        z-index: 4000000;
        background: $white;
        border: 20px solid pink;
        
        
    }
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {


}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {


}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {


}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################