// 1. OBJECT [ 1.4. TABLES ]  #########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.page-home {
    
    .figure__logo {
        
        width: 100%;
        margin: 0 auto;
        
        .yak-logo {
            
            width: 100%;
            height: auto;
            
        }
        
    }
    
    .figure__text {
        
        width: 80%;
        margin: 0 auto;
        margin-top: -60px;
        
        .yak-text {
            
            width: 100%;
            height: auto;
            opacity: 0.6;
            
        }
    }
    
    .figure__win {
        
        width: 100%;
        margin: 0 auto;
        margin-top: -20px;
        position: relative;
        z-index: 1;
        
        .yak-win {
            
            width: 100%;
            height: auto;
            opacity: 0.6;
            
        }
    }
    
    .figure__button {
        
        margin-top: -30px;
        position: relative;
        z-index: 1000;
        
    }
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MOBILE STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(mobile) {

    #mast {
        
        max-width: 100%;
        margin: 0 auto;
        
    }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. TABLET STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(tablet) {

    #mast {
        
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
        
    }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. DESKTOP STYLES ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk) {

    #mast {
        
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
        
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// D. WIDE DESKTOP STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@include media-query(desk-wide) {

    #mast {
        
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
        
    }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################