<!-- 1. LANDING PAGE ============================================================================================== -->

<!-- C.2. MAST ---------------------------------------------------------------------------------------------------- -->

<section id="mast">

    <form class="form">

        <!-- C.2.1. REGISTRATION ---------------------------------------------------------------------------------- -->
        
        <section class="form-panel section-1__registration" ng-show=" step == '1' ">
            
            <figure class="figure__logo">

                <img src="assets/images/site/yak-logo.png" class="yak-logo" />

            </figure>
            
            <div class="field-item text">

                <label for="input__name"><p class="text">NAME</p></label>

                <input type="text" class="yak-textfield" id="input__name" ng-model="user.name">
            </div>

            <div class="field-item text">

                <label for="input__email">

                    <label for="input__name"><p class="text">EMAIL</p></label>

                </label>

                <input type="text" class="yak-textfield" id="input__email" ng-model="user.email" name="email">
            </div>

            <figure class="figure__button">

                <button ng-click=" step = 2 " class="next button">
                    NEXT
                </button>

            </figure>

        </section>
        
        <!-- C.2.1. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.2. BEER STYLE ------------------------------------------------------------------------------------ -->

        <section class="form-panel section-2__beer-style" ng-show=" step == 2 ">

            <h3>Please choose a beer style<br/><span>(Scroll down for more)</span></h3>    

            <ul>

                <li>
                    <input type="radio" name="beer-logo" id="ipa" value="IPA" ng-model="beer.style">
                    <label for="ipa" ng-click=" viewing = 'logo1' " ng-class="{'active': viewing == 'logo1'}">
                        IPA
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="xpa" value="XPA" ng-model="beer.style">
                    <label for="xpa" ng-click=" viewing = 'logo2' " ng-class="{'active': viewing == 'logo2'}">
                        XPA
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="sour-ale" value="Sour Ale" ng-model="beer.style">
                    <label for="sour-ale" ng-click=" viewing = 'logo3' " ng-class="{'active': viewing == 'logo3'}">
                        Sour Ale
                    </label>
                </li>
                
                <li>
                    <input type="radio" name="beer-logo" id="golden-ale" value="Golden Ale" ng-model="beer.style">
                    <label for="golden-ale" ng-click=" viewing = 'logo4' " ng-class="{'active': viewing == 'logo4'}">
                        Golden Ale
                    </label>
                </li>
                
                <li>
                    <input type="radio" name="beer-logo" id="blonde-ale" value="Blonde Ale" ng-model="beer.style">
                    <label for="blonde-ale" ng-click=" viewing = 'logo5' " ng-class="{'active': viewing == 'logo5'}">
                        Blonde Ale
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="pacific-ale" value="Pacific Ale" ng-model="beer.style">
                    <label for="pacific-ale" ng-click=" viewing = 'logo6' " ng-class="{'active': viewing == 'logo6'}">
                        Pacific Ale
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="amber-ale" value="Amber Ale" ng-model="beer.style">
                    <label for="amber-ale" ng-click=" viewing = 'logo7' " ng-class="{'active': viewing == 'logo7'}">
                        Amber Ale
                    </label>
                </li>

            </ul>
            
            <ul>

                <li>
                    <input type="radio" name="beer-logo" id="flavoured-ale" value="Flavoured Ale">
                    <label for="flavoured-ale" ng-click=" viewing = 'logo8'" ng-class="{'active': viewing == 'logo8'}">
                        Flavoured Ale
                    </label>
                </li>

                <div class="field-item select-box" ng-class="{'active': viewing == 'logo8'}">

                    <select name="beerTypeSelect"
                            ng-model="beer.style">
                        <option value="Banana">Banana</option>
                        <option value="Raspberry">Raspberry</option>
                        <option value="Citrus">Citrus</option>
                        <option value="Chilli">Chilli</option>
                        <option value="Lychee">Lychee</option>
                        <option value="Passionfruit">Passionfruit</option>
                    </select>

                </div>

                <li>
                    <input type="radio" name="beer-logo" id="own-style" value="Own Style">
                    <label for="own-style" ng-click=" viewing = 'logo9'" ng-class="{'active': viewing == 'logo9'}">
                        Name My Own
                    </label>
                </li>

                <div class="field-item text" ng-class="{'active': viewing == 'logo9'}">

                    <input type="text"  Maxlength="9" class="yak-textfield" id="style-own" ng-model="beer.style" placeholder="(Max 9 characters)">

                </div>

            </ul>

            <figure class="figure__button next">

                <button ng-click=" step = 3 " class="next button">
                    NEXT
                </button>

            </figure>
            
            <figure class="figure__button">

                <button ng-click=" step = 1 " class="back button">
                    BACK
                </button>

            </figure>

        </section>
        
                
        <!-- C.2.2. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.3. BEER LOGO ------------------------------------------------------------------------------------- -->

        <section class="form-panel section-3__beer-logo" ng-show=" step == 3 ">
        
            <h3>Please choose a yak head<br/><span>(Scroll down for more)</span></h3>
        
            <ul class="grid">

                <li class="grid__half">
                    <input type="radio" name="yak-head" id="1" value="1" ng-model="beer.logo">
                    <label for="1" ng-click=" chosenLogo = 1 " ng-class="{'active': chosenLogo == 1}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__01.png" />
                    </label>
                </li>
                
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="2" value="2" ng-model="beer.logo">
                    <label for="2" ng-click=" chosenLogo = 2 " ng-class="{'active': chosenLogo == 2}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__02.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="3" value="3" ng-model="beer.logo">
                    <label for="3" ng-click=" chosenLogo = 3 " ng-class="{'active': chosenLogo == 3}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__03.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="4" value="4" ng-model="beer.logo">
                    <label for="4" ng-click=" chosenLogo = 4 " ng-class="{'active': chosenLogo == 4}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__04.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="5" value="5" ng-model="beer.logo">
                    <label for="5" ng-click=" chosenLogo = 5 " ng-class="{'active': chosenLogo == 5}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__05.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="6" value="6" ng-model="beer.logo">
                    <label for="6" ng-click=" chosenLogo = 6 " ng-class="{'active': chosenLogo == 6}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__06.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="7" value="7" ng-model="beer.logo">
                    <label for="7" ng-click=" chosenLogo = 7 " ng-class="{'active': chosenLogo == 7}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__07.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="8" value="8" ng-model="beer.logo">
                    <label for="8" ng-click=" chosenLogo = 8 " ng-class="{'active': chosenLogo == 8}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__08.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="9" value="9" ng-model="beer.logo">
                    <label for="9" ng-click=" chosenLogo = 9 " ng-class="{'active': chosenLogo == 9}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__09.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="10" value="10" ng-model="beer.logo">
                    <label for="10" ng-click=" chosenLogo = 10 " ng-class="{'active': chosenLogo == 10}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__10.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="11" value="11" ng-model="beer.logo">
                    <label for="11" ng-click=" chosenLogo = 11 " ng-class="{'active': chosenLogo == 11}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__11.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="12" value="12" ng-model="beer.logo">
                    <label for="12" ng-click=" chosenLogo = 12 " ng-class="{'active': chosenLogo == 12}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__12.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="13" value="13" ng-model="beer.logo">
                    <label for="13" ng-click=" chosenLogo = 13 " ng-class="{'active': chosenLogo == 13}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__13.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="14" value="14" ng-model="beer.logo">
                    <label for="14" ng-click=" chosenLogo = 14 " ng-class="{'active': chosenLogo == 14}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__14.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="15" value="15" ng-model="beer.logo">
                    <label for="15" ng-click=" chosenLogo = 15 " ng-class="{'active': chosenLogo == 15}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__15.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="16" value="16" ng-model="beer.logo">
                    <label for="16" ng-click=" chosenLogo = 16 " ng-class="{'active': chosenLogo == 16}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__16.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="17" value="17" ng-model="beer.logo">
                    <label for="17" ng-click=" chosenLogo = 17 " ng-class="{'active': chosenLogo == 17}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__17.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="18" value="18" ng-model="beer.logo">
                    <label for="18" ng-click=" chosenLogo = 18 " ng-class="{'active': chosenLogo == 18}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__18.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="19" value="19" ng-model="beer.logo">
                    <label for="19" ng-click=" chosenLogo = 19 " ng-class="{'active': chosenLogo == 19}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__19.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="20" value="20" ng-model="beer.logo">
                    <label for="20" ng-click=" chosenLogo = 20 " ng-class="{'active': chosenLogo == 20}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__20.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="21" value="21" ng-model="beer.logo">
                    <label for="21" ng-click=" chosenLogo = 21 " ng-class="{'active': chosenLogo == 21}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__21.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="22" value="22" ng-model="beer.logo">
                    <label for="22" ng-click=" chosenLogo = 22 " ng-class="{'active': chosenLogo == 22}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__22.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="23" value="23" ng-model="beer.logo">
                    <label for="23" ng-click=" chosenLogo = 23 " ng-class="{'active': chosenLogo == 23}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__23.png" />
                    </label>
                </li> 
                 
                <li class="grid__half">
                    <input type="radio" name="yak-head" id="24" value="24" ng-model="beer.logo">
                    <label for="24" ng-click=" chosenLogo = 24 " ng-class="{'active': chosenLogo == 24}">
                        <img class="label__image" ng-src="assets/images/site/yak-head__24.png" />
                    </label>
                </li> 

            </ul>
            
            <figure class="figure__button next">

                <button ng-click=" step = 4 " class="next button">
                    NEXT
                </button>

            </figure>
            
            <figure class="figure__button">

                <button ng-click=" step = 2 " class="back button">
                    BACK
                </button>

            </figure>
        
        </section>
        
        <!-- C.2.3. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.4. BEER STYLE ------------------------------------------------------------------------------------ -->

        <section class="form-panel section-4__beer-name" ng-show=" step == 4 ">
            
            <h3>Please name your beer</h3>
        
            <figure class="figure__yak-head">

                <img ng-src="assets/images/yak-heads/{{ beer.logo }}.png" class="yak-head" />

            </figure>

            <div class="field-item text">

                <input type="text" Maxlength="7" class="yak-textfield" id="input__beer-name" ng-model="beer.name" name="beer-name" placeholder="(Max 7 characters)">

            </div>

            <figure class="figure__yak-text">

                <img src="assets/images/site/yak__beer.png" class="yak-text yak-beer" />

            </figure>
            
            <p class="beer-style">{{ beer.style }}</p>

            <figure class="figure__button done">

                <button ng-click=" step = 5 " class="done button">
                    DONE
                </button>

            </figure>

            <figure class="figure__button">

                <button ng-click=" step = 3 " class="back button">
                    BACK
                </button>

            </figure>
        
        </section>
        
        <!-- C.2.4. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.5. BEER BOTTLE ----------------------------------------------------------------------------------- -->
        
        <section class="section-5__beer-bottle" ng-show=" step == 5 ">
            
            <section class="section__bottle">
            
                <div class="align">
                
                    <figure class="figure__bottle">

                        <div class="content">

                            <img ng-src="assets/images/yak-heads/{{ beer.logo }}.png" class="bottle-neck-logo" />

                            <img ng-src="assets/images/yak-heads/{{ beer.logo }}.png" class="bottle-lable-logo" />

                            <p class="bottle-beer-name">{{ beer.name }} Yak</p>

                            <p class="bottle-beer-style">{{ beer.style }}</p>

                            <img class="image__bottle" src="assets/images/site/bottle.png" />

                            <figure class="figure__button">

                                <button ng-click="bouForm();" class="submit button">
                                    SUBMIT MY YAK
                                </button>

                            </figure>

                            <figure class="figure__button below">

                                <button ng-click=" step = 4 " class="back button">
                                    BACK
                                </button>

                            </figure>

                        </div>

                    </figure>
                
                </div>
            
            </section>
            
            <section class="yaksess" ng-class="{ 'active': active }">
            
                <h1>You have successfully submitted your Yak</h1>
            
            </section>
        
        </section>
        
        <!-- C.2.5. END ------------------------------------------------------------------------------------------- -->

    </form>

</section>

<!-- C.2. END ----------------------------------------------------------------------------------------------------- -->

<!-- 1. END ======================================================================================================= -->