<!-- 1. LANDING PAGE ============================================================================================== -->

<!-- C.2. MAST ---------------------------------------------------------------------------------------------------- -->

<section id="mast">

    <form class="form">

        <!-- C.2.1. REGISTRATION ---------------------------------------------------------------------------------- -->
        
        <section class="form-panel section-1__registration" ng-show=" step == '1' ">
            
            <figure class="figure__logo">

                <img src="assets/images/site/yak-logo.png" class="yak-logo" />

            </figure>
            
            <div class="field-item text">

                <label for="input__name"><p class="text">NAME</p></label>

                <input type="text" class="yak-textfield" id="input__name" ng-model="user.name">
            </div>

            <div class="field-item text">

                <label for="input__email">

                    <label for="input__name"><p class="text">EMAIL</p></label>

                </label>

                <input type="text" class="yak-textfield" id="input__email" ng-model="user.email" name="email">
            </div>

            <figure class="figure__button">

                <button ng-click=" step = 2 " class="next button">
                    NEXT
                </button>

            </figure>

            <figure class="figure__text">

                <img src="assets/images/site/yak-text.svg" class="yak-text" />

            </figure>

        </section>
        
        <!-- C.2.1. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.2. BEER STYLE ------------------------------------------------------------------------------------ -->

        <section class="form-panel section-2__beer-style" ng-show=" step == 2 ">

            <h3>Please choose a beer style<br/><span>(Scroll down for more)</span></h3>

            <ul>

                <li>
                    <input type="radio" name="beer-logo" id="ipa" value="IPA" ng-model="beer.style">
                    <label for="ipa" ng-click=" viewing = 'logo1' " ng-class="{'active': viewing == 'logo1'}">
                        IPA
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="xpa" value="XPA" ng-model="beer.style">
                    <label for="xpa" ng-click=" viewing = 'logo2' " ng-class="{'active': viewing == 'logo2'}">
                        XPA
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="sour-ale" value="Sour Ale" ng-model="beer.style">
                    <label for="sour-ale" ng-click=" viewing = 'logo3' " ng-class="{'active': viewing == 'logo3'}">
                        Sour Ale
                    </label>
                </li>
                
                <li>
                    <input type="radio" name="beer-logo" id="golden-ale" value="Golden Ale" ng-model="beer.style">
                    <label for="golden-ale" ng-click=" viewing = 'logo4' " ng-class="{'active': viewing == 'logo4'}">
                        Golden Ale
                    </label>
                </li>
                
                <li>
                    <input type="radio" name="beer-logo" id="blonde-ale" value="Blonde Ale" ng-model="beer.style">
                    <label for="blonde-ale" ng-click=" viewing = 'logo5' " ng-class="{'active': viewing == 'logo5'}">
                        Blonde Ale
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="pacific-ale" value="Pacific Ale" ng-model="beer.style">
                    <label for="pacific-ale" ng-click=" viewing = 'logo6' " ng-class="{'active': viewing == 'logo6'}">
                        Pacific Ale
                    </label>
                </li>

                <li>
                    <input type="radio" name="beer-logo" id="amber-ale" value="Amber Ale" ng-model="beer.style">
                    <label for="amber-ale" ng-click=" viewing = 'logo7' " ng-class="{'active': viewing == 'logo7'}">
                        Amber Ale
                    </label>
                </li>

            </ul>
            
            <ul>

                <li>
                    <input type="radio" name="beer-logo" id="flavoured-ale" value="Flavoured Ale">
                    <label for="flavoured-ale" ng-click="ale = !ale">
                        Flavoured Ale
                    </label>
                </li>

                <div class="field-item text" ng-show="ale">

                    <input type="text" class="yak-textfield" id="style-own" ng-model="beer.style" name="style-own">

                </div>

                <li>
                    <input type="radio" name="beer-logo" id="own-style" ng-click="own = !own">
                    <label for="own-style">
                        Name My Own
                    </label>
                </li>

                <div class="field-item text" ng-show="own">

                    <input type="text" class="yak-textfield" id="style-own" ng-model="beer.style">

                </div>

            </ul>

            <figure class="figure__button next">

                <button ng-click=" step = 3 " class="next button">
                    NEXT
                </button>

            </figure>
            
            {{ beer.logo }}

            <figure class="figure__button">

                <button ng-click=" step = 1 " class="back button">
                    BACK
                </button>

            </figure>

        </section>
        
                
        <!-- C.2.2. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.3. BEER LOGO ------------------------------------------------------------------------------------- -->

        <section class="form-panel section-3__beer-logo" ng-show=" step == 3 ">
        
            <h3>Please choose a yak head<br/><span>(Scroll down for more)</span></h3>
        
            <ul class="grid">

                <li class="grid__half" ng-repeat="yak in yaks">
                    <input type="radio" name="yak-head" id="{{yak.id}}" value="{{yak.id}}" ng-model="beer.logo">
                    <label for="{{yak.id}}" ng-click=" chosenLogo = 'chosen' + yak.id " ng-class="{'active': chosenLogo == 'chosen' + yak.id}">
                        <img class="label__image" ng-src="{{yak.imageUrl}}" />
                    </label>
                </li> 
                
            </ul>
            
            <figure class="figure__button next">

                <button ng-click=" step = 4 " class="next button">
                    NEXT
                </button>

            </figure>
            
            <figure class="figure__button">

                <button ng-click=" step = 2 " class="back button">
                    BACK
                </button>

            </figure>
        
        </section>
        
        <!-- C.2.3. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.4. BEER STYLE ------------------------------------------------------------------------------------ -->

        <section class="form-panel section-4__beer-name" ng-show=" step == 4 ">
            
            <h3>Please name your beer</h3>
        
            <figure class="figure__yak-head">

                <img ng-src="assets/images/yak-heads/{{ beer.logo }}.png" class="yak-head" />

            </figure>

            <div class="field-item text">

                <input type="text" class="yak-textfield" id="input__beer-name" ng-model="beer.name" name="beer-name">

            </div>

            <figure class="figure__yak-text">

                <img src="assets/images/site/yak__beer.png" class="yak-text yak-beer" />

            </figure>
            
            <p class="beer-style">{{ beer.style }} {{ beer.styleOwn }}</p>

            <figure class="figure__button">

                <button ng-click=" step = 5 " class="done button">
                    DONE
                </button>

            </figure>

            <figure class="figure__button">

                <button ng-click=" step = 3 " class="back button">
                    BACK
                </button>

            </figure>
        
        </section>
        
        <!-- C.2.4. END ------------------------------------------------------------------------------------------- -->
        
        <!-- C.2.5. BEER BOTTLE ----------------------------------------------------------------------------------- -->
        
        <section class="section-5__beer-bottle" ng-show=" step == 5 ">
        
            <figure class="figure__bottle">
                
                <div class="content">
                    
                    <img ng-src="assets/images/yak-heads/{{ beer.logo }}.png" class="bottle-neck-logo" />

                    <img ng-src="assets/images/yak-heads/{{ beer.logo }}.png" class="bottle-lable-logo" />

                    <p class="bottle-beer-name">{{ beer.name }}Yak</p>

                    <p class="bottle-beer-style">{{ beer.style }}</p>

                    <img class="image__bottle" src="assets/images/site/bottle.png" />

                    <figure class="figure__button">

                        <button ng-click="bouForm();" class="submit button">
                            SUBMIT MY YAK
                        </button>
                        

                    </figure>
                    
                    <figure class="figure__button below">

                        <button ng-click=" step = 4 " class="back button">
                            BACK
                        </button>

                    </figure>
                
                </div>

            </figure>
            
            <section class="yaksess" ng-show="yaksess">
            
                <h1>You have successfully sumbitted your Yak</h1>
            
            </section>
        
        </section>
        <!-- C.2.5. END ------------------------------------------------------------------------------------------- -->

    </form>

</section>

<!-- C.2. END ------------------------------------------------------------------------------------------------- -->

<!-- 1. END ======================================================================================================= -->