<!-- 1. LANDING PAGE ============================================================================================== -->

<section class="page-yak-head">

    <!-- C.2. MAST ------------------------------------------------------------------------------------------------ -->
    
    <section class="background"></section>

    <section id="mast">

        <figure class="figure__yak-text">

            <img src="assets/images/site/choose-head.png" class="yak-text" />

        </figure>

        <form class="form">
            
            <ul class="grid">

                <li class="grid__half" ng-repeat="yak in yaks">
                    <input type="radio" name="yak-head" id="{{yak.id}}" value="{{yak.id}}" ng-model="formData.yakHead">
                    <label for="{{yak.id}}"><img ng-src="{{yak.imageUrl}}" /></label>
                </li> 
                
            </ul>
            
            <figure class="figure__button next">

                <a href="#/beer-name">
                    <img src="assets/images/site/button__next-2.png" class="button" />
                </a>

            </figure>

            <figure class="figure__button">

                <a href="#/beer-style">
                    <img src="assets/images/site/button__back-small.png" class="button" />
                </a>

            </figure>

        </form>

    </section>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

</section>

<!-- 1. END ======================================================================================================= -->