<!-- 1. LANDING PAGE ============================================================================================== -->

<section class="page-bottle">

    <!-- C.2. MAST ------------------------------------------------------------------------------------------------ -->

    <section class="background"></section>

    <section id="mast">

        <form class="form">

            <figure class="figure__bottle">

                <img ng-src="{{yak.imageUrl}}" />
                <img src="assets/images/site/bottle.png" />
                
                <figure class="figure__button">

                    <a href="">
                        <img src="assets/images/site/submit.png" class="button" />
                    </a>

                </figure>


            </figure>

        </form>

    </section>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

</section>

<!-- 1. END ======================================================================================================= -->