<!-- 1. LANDING PAGE ============================================================================================== -->

<section class="page-home">

    <!-- C.2. MAST ------------------------------------------------------------------------------------------------ -->

    <section class="background"></section>

    <section id="mast">

        <figure class="figure__logo">

            <img src="assets/images/site/yak-logo.png" class="yak-logo" />

        </figure>

        <figure class="figure__text">

            <img src="assets/images/site/yak-text.svg" class="yak-text" />

        </figure>

        <figure class="figure__win">

            <img src="assets/images/site/win.png" class="yak-win" />

        </figure>
        
        <figure class="figure__button">

            <a href="#/register">
                <img src="assets/images/site/button__start.png" class="button" />
            </a>

        </figure>

    </section>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

</section>

<!-- 1. END ======================================================================================================= -->