<!-- 1. LANDING PAGE ============================================================================================== -->

<section class="page-style">

    <!-- C.2. MAST ------------------------------------------------------------------------------------------------ -->

    <section class="background"></section>

    <section id="mast">

        <figure class="figure__yak-text">

            <img src="assets/images/site/choose-beer.png" class="yak-text" />

        </figure>

        <form class="form">

            <ul>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__ipa.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__xpa.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__sour-ale.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__golden-ale.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__blonde-ale.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__pacific-ale.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__amber-ale.png" />
                    </a>
                </li>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__flavoured-ale.png" />
                    </a>
                </li>

                <div class="field-item text">

                    <input type="text" class="yak-textfield" id="input__name" ng-model="" name="name" required>

                </div>

                <li>
                    <a href="" class="beer__button" id="">
                        <img src="assets/images/site/beer-button__own.png" />
                    </a>
                </li>

                <div class="field-item text">

                    <input type="text" class="yak-textfield" id="input__name" ng-model="" name="name" required>

                </div>


            </ul>

            <figure class="figure__button">

                <a href="#/yak-head">
                    <img src="assets/images/site/button__next-2.png" class="button" />
                </a>

            </figure>

            <figure class="figure__button">

                <a href="#/register">
                    <img src="assets/images/site/button__back-small.png" class="button" />
                </a>

            </figure>


        </form>

    </section>

    <!-- C.2. END ------------------------------------------------------------------------------------------------- -->

</section>

<!-- 1. END ======================================================================================================= -->